
# Local security scan output
bandit_report.txt

# Environment variables file
.env

# Built artifact directories
site/
dist/
build/

# Python wheel files
*.whl

# Python pycache
__pycache__/
*.pyc
*.pyo
*.pyd
